@charset "UTF-8";
#displayed_video {
    width: 100vw;
    height: 100vh;
	object-fit: cover;
    position: fixed;
	top: 0;
	left: 0;
}
.centered_text {
	position: relative;
	text-align: center;
	justify-content: center;
	margin-top: 90vh;
}
#words {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    border-style: solid;
    border-width: thin;
	margin-left: 30%;
	margin-right: 30%;
	background-color: #EA8789;
	cursor: default;
}
